body {
  background-color: aliceblue;
}
.container {
  margin-top: 5%;
}
.navbar-brand {
  float: right;
  color: #FFF;
}
.navbar-fixed-top {
  background-color: #8C8C8C;
  transition: background-color 0.5s linear 0s;
  opacity: .5;
}
.navbar-fixed-top.opaque {
  background-color: rgba(255,255,255,0);
  transition: background-color 0.5s linear 0s;
  opacity: 1;
}
.navbar-fixed-top.opaque p{
  color: #337ab7;
}
.navbar-fixed-top a:hover{
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}
.navbar-fixed-top.opaque a{
  color: #666;
  text-decoration: none;
}
.navbar-fixed-top.opaque a:hover{
  color: #337ab7;
  cursor: pointer;
  text-decoration: none;
}
h1 {
  text-align: center;
}
img {
  width: 20%;
  border-right: solid 2px #286B9C;
  padding-right: 1%;
}
span {
  padding-left: 1%;
  color: #666;
}
#listContainer {
  overflow: scroll;
  margin-top: 5%;
  height: 50em;
}
button {
  float: right;
  margin-left: 40%;
  margin-bottom: 3%;
  margin-top: 1%;
}
.list-group-item {
  -webkit-box-shadow: 0px 5px 28px 4px rgba(140,140,140,0.69);
  -moz-box-shadow: 0px 5px 28px 4px rgba(140,140,140,0.69);
  box-shadow: 0px 5px 28px 4px rgba(140,140,140,0.69);
  padding: 2% 3% 3% 3%;
  position: relative;
  display: block;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: 18px;
  color: #666;
  overflow: scroll;
}
p {
  float: left;
}
a {
  color: #FFF;
  text-decoration: none;
}
/*a:hover {
  color: #337ab7;
  text-decoration: none;
}*/
