<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <p class="navbar-brand" href="#">A Demo Made By <a target= blank href="http://amandaschuff.com">aschuff</a></p>
</nav>
<div class="container">
  <div class="col-md-12">
    <h1><img src="images/InsureSign_Logo_small.png" alt="" /><span>Demo</span></h1>
  </div>
  <div class="col-md-6 col-md-offset-3" id="listContainer">
      <ul class="list-group">
          <li ng-repeat='data in response' class="list-group-item">
            ID: {{data.id}} <br>
            Name: {{data.name}} <br>
            Sender: {{data.sender}}
            <button type="button" ng-click='showit = !showit'class="btn btn-primary">Details</button>
          <section ng-show='showit'>
            <hr>
            <p>
              ID: {{data.id}} <br>
              Name: {{data.name}} <br>
              Sender: {{data.sender}} <br>
              Status: {{data.status}} <br>
              Message: {{data.message}}
            </p>
          </section>
          </li>
      </ul>
  </div>

</div>
