<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <p class="navbar-brand" href="#">A Demo Made By <a target= blank href="http://amandaschuff.com">aschuff</a></p>
</nav>
<div class="container">
  <div class="col-md-12">
    <h2><img src="images/InsureSign_Logo_small.png" alt="" /></h2>
  </div>
  <div class="col-md-6 col-md-offset-3">
      <ul class="list-group">
          <li ng-repeat='reddit in topReddits' class="list-group-item">{{reddit.data.title}}<button type="button" ng-click='showit = !showit'class="btn btn-primary">Details</button>
          <section ng-show='showit'>
            <p>
              Author: {{reddit.data.author}}
            </p>
          </section>
          </li>
      </ul>
  </div>

</div>
